@tailwind base;
@tailwind components;
@tailwind utilities;

.checkerboard {
  // background-color: hsl(240, 7%, 8%);
  // background-image: linear-gradient(
  //     45deg,
  //     hsl(0, 0%, 0%) 25%,
  //     transparent 25%,
  //     transparent 75%,
  //     hsl(0, 0%, 0%) 75%,
  //     hsl(0, 0%, 0%)
  //   ),
  //   linear-gradient(
  //     -45deg,
  //     hsl(0, 0%, 0%) 25%,
  //     transparent 25%,
  //     transparent 75%,
  //     hsl(0, 0%, 0%) 75%,
  //     hsl(0, 0%, 0%)
  //   );
  // background-size: 60px 60px;
}

.vignette {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // box-shadow: 0 0 50rem hsl(0, 0%, 0%) inset;
}

.timeline-main-wrapper {
  min-height: 4rem !important;
}
.timeline-item-title {
  @apply font-ndgm;
  font-style: normal !important;
}
.timeline-item-title.active {
  background: none !important;
  color: white;
}
.timeline-item-title {
  font-weight: normal !important;
}
.timeline-horz-item-container {
  height: 4rem !important;
  width: 18rem !important;
  @media screen and (max-width: 768px) {
    width: 16rem !important;
  }
}
.timeline-main-wrapper {
  height: 0 !important;
}
.timeline-horz-card-wrapper {
  border: none !important;
  margin: 0 !important;
  outline: none !important;
  padding: 0.2rem;
}
.timeline-card-content {
  @apply font-pretendard;
}
.timeline-card-content.active {
  outline: white solid 1px !important;
}
.card-sub-title {
  font-weight: 300 !important;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  tbody {
    border-bottom: 1px solid hsl(212, 13%, 81%, 0.5);
    tr {
      border-bottom: 1px solid hsl(212, 13%, 81%, 0.5);
      td {
        padding-right: 1rem;
      }
    }
  }
}
